body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 40px 80px;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  color: #e1332d;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  border: 3px solid #e1332d;
  text-transform: uppercase;
  letter-spacing: -2px;
  position: relative;
  transition: all 0.5s ease;
}

a:hover {
  font-weight: 900;
  letter-spacing: 0.2em;
  border-size: 7px;
}
